
@viewport{
  zoom: 1.0;
  width: device-width;
}

.App-header {
  background-image: url('./Imagenes/fondo.jpg');
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 5%;
}

.App-header2 {
  background-image: url('./Imagenes/fondo.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-header .img{
  align-items: left;
}

.CardColor {
  border:1px solid #50351C;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #5c4337;
  text-align: center;
  padding: 8px;
  font-size: 20px;
}

th {
  background-color: rgb(255, 255, 255);
}

td {
  background-color: rgb(138, 96, 73);
}

textarea {
  height: 500px;
  width: 2000%;
  resize: none;
  border-radius: 20px 20px 20px 20px;
}